.idea
*.iml
*.pyc
out
gen
data
build
dist
/build/
/data/
/dist/
/__pycache__/
.gitattributes

*.pickle
*.txt
*.xlsx
*.html
*.pkl
*.jpg
*.png
*.csv
*.xls
*.crdownload
*.zip
*.rar

exeConfig.json
geckodriver.exe
data.json
